#the-basics{
  margin-top: 20px;
  margin-left: 300px;
}
.row{
  margin-top: 100px;
  margin-bottom: 100px;
}
.text-center{
  margin-top: 100px;
}
.contactHeader{
  padding: 20px;
  color: white;
}
#contact-form{
  border-radius: 20px 0px;
  background-color: green;
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 620px;
  margin-left: auto;
  width: 400px;
}
input{
  width: 385px;
}
textarea{
  width: 385px;
}
.name{
  padding: 5px;
}

.tel{
  padding: 5px;
}
.text{
  padding: 5px;
}
.choose{
  padding: 5px;
  color: white;
}
.dropbox{
  padding: 5px;
}
#contactButton{
  margin-bottom: 50px;
  margin-left: 5px;
  padding: 2px 5px;
  background-color: white;
  color: green;
}
.btn-primary{
  margin-bottom: 250px;
  background-color: green !important;
}
#readMoreCon{
  margin-bottom: 300px;
}